<div #gridWidgetDiv class="grid-widget">
        <p-contextMenu #cm [model]="interalContextMenuItems"  [baseZIndex]="1000"></p-contextMenu>
        <p-contextMenu #hcm [model]="interalContextHeaderMenuItems"  [baseZIndex]="1000"></p-contextMenu>
        <p-table #grid [value]="gridData" [dataKey]="dataKey" [columns]="_Cols" [resizableColumns]="true" (onColResize)="onColResize($event)"  columnResizeMode="expand"
        [scrollable]="true" [scrollHeight]="scrollHeight"  selectionMode="multiple" rowSelectMode="checkbox" [(selection)]="selectedRowsData" 
        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
        [rowTrackBy]="rowTrackByFunction"  >
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngIf="HasCheckBoxMultiSelect" style="width: 30px; padding: 2px;">
                    <!--  <col *ngIf="HasPinUnpin" style="width: 30px"> -->
                    <ng-container *ngFor="let col of columns">
                        <col *ngIf="col.visible" [style.width]="col.colWidthPercentage">
                    </ng-container>
                </colgroup>
            </ng-template>
    
            <ng-template pTemplate="header">
                <tr class="grid-header">
                        <th *ngIf="HasCheckBoxMultiSelect" pResizableColumn>
                                <p-checkbox [(ngModel)]="tableHeaderCheckboxSelectedAll" binary="true"
                                  (onChange)="onHeaderCheckboxToggle($event)"
                                  (contextmenu)="onHeaderRightClick($event, null, hcm)"></p-checkbox>
                              </th>
                    <ng-container *ngFor="let col of _Cols">
                        <th *ngIf="col.visible" [attr.data-field]="col.field" [pSortableColumn]="col.field" (contextmenu)="onHeaderRightClick($event, col, hcm)" pResizableColumn>
                            <span *ngIf="col.type !== 'icon'">{{col.header}}</span>
                            <img *ngIf="col.type === 'icon'" src="assets/image/{{col.header}}" />
                            <p-sortIcon [field]="col.field" *ngIf="col.type !== 'icon'"></p-sortIcon>
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
    
            <ng-template let-rowData="rowData" let-column="column" let-colText="colText">
                <td [title]="colText" *ngIf="col.visible">
                    <span *ngIf="column.type !== 'icon'">{{colText}}</span>
                    <img *ngIf="column.type === 'icon'" src="assets/image/icons/{{colText}}" />
                </td>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="getColSpanEmptyMessage()">
                        <div class="alert alert-danger" *ngIf="!isLoading">
                            <strong>No {{Description}} Found!</strong>
                        </div>
                        <div class="alert alert-warning" *ngIf="isLoading">
                            <strong>Loading...</strong>
                        </div>
                    </td>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
                <tr [ngClass]="{selectedRow: rowData.__selected}" (click)="OnRowClick($event,ri, rowData)">
                        <td *ngIf="HasCheckBoxMultiSelect" style="padding: 2px 8px 2px 8px;">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                              </td>
                    <ng-container *ngFor="let col of _Cols">
                        <ng-container *ngIf="col.visible">
                            <ng-container *ngIf="!col.isEditable">
                                <td class="ui-resizable-column">
                                    {{getValueAsString(rowData, col)}}
                                </td>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="col.isEditable">
                            <ng-container *ngIf="col.visible">
                                <td pEditableColumn class="ui-resizable-column">
                                    <p-cellEditor>
                                        <ng-template pTemplate="output">
                                            {{getValueAsString(rowData, col)}}
                                        </ng-template>
                                        <ng-template pTemplate="input" *ngIf="col.type === 'text'">
                                            <input pInputText [(ngModel)]="rowData[col.field]" type="text" maxlength="50"
                                                class="form-control" />
                                        </ng-template>
                                        <ng-template pTemplate="input" *ngIf="col.type === 'dropdown'">
                                            <p-dropdown [options]="getDropDownValues(col)" class="drop-down-full-width" appendTo="body"
                                                [(ngModel)]="rowData[col.field]"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="input" *ngIf="col.type === 'date'">
                                            <p-calendar class="editable-column-full-width calender-full-width " appendTo="body"
                                                (onSelect)="onselectDatePicker($event,ri,col.field)" [monthNavigator]="true"
                                                [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog header="Select Columns" [(visible)]="showColumnHeaderFlag" [modal]="true" [responsive]="true" [width]="400"
    [minWidth]="200" [maximizable]="true" [baseZIndex]="100">
    <p-table [value]="selectedColumns" dataKey="header">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:20px">
            <p-checkbox (onChange)="onColumnHeaderCheckboxToggle($event)" [(ngModel)]="ColumnSelectAllFlag" binary="true">
            </p-checkbox>
          </th>
          <th style="width:100px">Column Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-col>
        <tr>
          <td style="width:20px">
            <p-checkbox [(ngModel)]="col.visible" (onChange)="onColumnSelectChange($event)" binary="true"></p-checkbox>
          </td>
          <td style="width:100px">{{col.header ? col.header : col.field}}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" 
        (click)="showFilteredColumns()" label="Ok"></button>
    </p-footer>
    </p-dialog>